.header   {
    background-image: url('header.png');
    background-size: cover;
    height: 500px;

    display: flex;
    justify-content: center;
}

h1.title {
    border: 1px solid #fff;
    color: #fff;
    margin: 0;
}

p.subtitle {
    border: 1px solid #0fa;
    color: #fff;
    margin: 0;
}